@{
    ViewBag.Title = "Home Page";
}



        <!-- Menu right -->
        <div class="menu_right">
            <div class="banner">
                <img src="~/Content/img/dente.png">
            </div>
            <br />
            <div class="banner">
                <img src="~/Content/img/banner_parcerias.png">
            </div>
            <br />
            <div class="banner">
                <img src="~/Content/img/produtos.png">
            </div>



            <!-- Rodapé -->
            <div class="rodape">
                <div class="rodape_int">

                    <h3>
                        
                    </h3>
                </div>
            </div>
        </div>

</body>

</html>